body {
	margin: 20px;
	background: url(/img/polygonal-texture-background-vector.jpg)
}
.bg{
    width:100%;
    height:600%;
    background: url('../img/polygonal-texture-background-vector.jpg');
}
.plan{
    display:inline-block;
    margin-left:20px;
    background:red;
   
    
    float: left;
    
    width: 430px;
    height: 560px;
   
   
    
    
    
}

.navy-bg{
    
       background: #204060;
    height: 250px;
    color: white;
    font-size: 18px;
    padding-top: 30px;
}

.item{
    
    margin-left:auto;
    margin-right:auto;
    width:180px;
    margin-top:10px;
}

.tri-plan{
    
   
    text-align:center;
   padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 82px;
}

div {
    display: block;
}
body{
        display: block;
    margin: 8px;
}

.Freeplan {
    color: white;
    letter-spacing: 2px;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
}
.middle {
    text-align: center;
}

.dollarsign {
    font-family: Arial;
    font-size: 30px;
    position: relative;
    top: -35px;
    color: #bdc3c7;
    letter-spacing: 30px;
}

.Zero {
    font-family: Arial;
    font-size: 80px;
}

.mo {
    font-family: Arial;
    font-size: 20px;
    position: relative;
    color: #bdc3c7;
}

.btn {
    font-family: Arial;
    font-size: 20px;
    padding: 0.5em;
    border: 1px solid white;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
}

.pricing-list {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 110px;
}
.fa{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
        -webkit-font-smoothing: antialiased;
     font-size: 50px;
}

.pricing-list ul li span {
    color: #34495e;
}

.pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-family: Arial;
    font-size: 19px;
    line-height: 42px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 10px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-family: Arial;
    font-size: 19px;
    line-height: 42px;
}
.fa-envelope:before {
    content: "\f0e0";
}
.page {
	width: 100%;
	text-align: center;
}

.box_up {
	width: 25%;
	background-color: #37495F;
	display: inline-block;
	text-align: center;
	margin: 20px 25px
}

.box_down {
	width: 100%;
	background-color: #fff;
	display: inline-block;
	text-align: center;
}

.box_up>p:nth-of-type(1) {
	font-size: 23px;
	color: white;
}

.box_up>p:nth-of-type(2) {
	font-size: 20px;
	color: #aaa;
}

.box_up>p:nth-of-type(3) {
	font-size: 18px;
	width: 180px;
	border: 3px solid gray;
	border-radius: 5px;
	margin: -5px auto;
	margin-bottom: 30px;
	color: #bbb;
}

span:nth-child(1) {
	font-size: 30px;
	vertical-align: top;
}

span:nth-child(2) {
	font-size: 100px;
	color: white;
	margin: 18px;
}

.box_down>p {
	font-size: 18px;
	color: #bbb;
	border-bottom: 1px solid #ddd;
	width: 50%;
	padding-bottom: 10px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box_down>p:nth-of-type(4) {
	border-bottom: 0px;
}

.fa fa-envelope {
	font-size: 30px;
	color: black
}

.fa fa-question-circle-o {
	font-size: 300px;
}